@media screen and (min-width: 38em) {

	.logo {
		margin: 38vh auto 0 auto;
	}
}

@media screen and (min-width: 42em) {

	.logo {
		margin: 40vh auto 0 auto;
	}
}

@media screen and (min-width: 45em) {

	.logo {
		margin: 42vh auto 0 auto;
	}
}


@media screen and (min-width: 48em) {

	.nav-menu {
		background: transparent;
	}


	.md-pull-down {
		bottom: 0;
	}

	.wrapper {
		padding-top: 100vh;
	}
	
	.content {
	  padding-top: 2em;
	}

	.logo {
	  text-align: center;
	  margin: 45vh auto 0 auto;
	}
	

}